.player-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header{
height: 80vh;
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#opponent-image {
  margin-left: 200px;
  height: 300px;
}

span {
  background-color: goldenrod;
  width: 150px;
  font-size: 26px;
}
.cont {
  display: flexbox;
}
.player-info{
  flex-direction: column;
  align-items: flex-start;
}
#slap-em{
  margin: 50px;
  background-color: rgba(250, 70, 70, 0.5);
}
#punch-em{
  margin: 50px;
  background-color: rgba(235, 29, 29, 0.74);
}
#kick-em{
  margin: 50px;
  background-color: rgb(255, 10, 10);
}